@import "header.scss";
@import "variables.scss";
@import "card.scss";
$cardInRow: 4;
$columnGap: 48px;
$rowGap: 50px;
$containerWidth: $card-width * $cardInRow + $columnGap * 3;

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

.container__main {
  width: $containerWidth;
  display: grid;
  grid-template-columns: repeat($cardInRow, $card-width);
  margin: 0 auto;
  row-gap: $rowGap;
  column-gap: $columnGap;
}

.margin {
  margin-top: $rowGap;
}
